# Analysing gender in ecology publications

### Loading the data

In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import csv
from sklearn.metrics import mean_squared_error

%matplotlib inline

Let us load the data as a pandas dataframe.

In [20]:
data = pd.read_csv("new_journals_data.csv", sep = ",")
len(data)

2532

### Exploring the data
Now take a look at the dataset and its features:

In [21]:
data.head(5)

,Unnamed: 0,TI,SO,LeadAuthorFirst,LeadAuthorLast,LeadInitOnly,first.gender.manual,first.gender,first.gender.manual.method,EditorFirst,EditorLast,editor.gender.manual,FirstInst2,Editor.Institution
0,1,"Ecology Letters, and Transparency and Openness...",ECOLOGY LETTERS,NaN,daniels,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,The relative importance of trait vs. genetic d...,ECOLOGY,Jessica,hoareau,no,female,female,NaN,Jonathan,Grabowski,male,University of California Davis,Northeastern University
2,3,Test of biotic and abiotic correlates of latit...,JOURNAL OF ECOLOGY,Luis,morard,no,male,male,NaN,Jennifer,Lau,female,Universidad Autonoma de Yucatan,Michigan State University
3,4,Multi-trophic consequences of plant genetic va...,ECOLOGY,Luis,soul,no,male,male,NaN,James,Cronin,male,Universidad Autonoma de Yucatan,Louisiana State University
4,5,Parameterisation and validation of a resource ...,ECOLOGY LETTERS,Tomoyuki,farrell,no,NaN,NaN,NaN,Liza,Comita,female,NaN,Yale University

In [22]:
data.dtypes

Unnamed: 0                     int64
TI                            object
SO                            object
LeadAuthorFirst               object
LeadAuthorLast                object
LeadInitOnly                  object
first.gender.manual           object
first.gender                  object
first.gender.manual.method    object
EditorFirst                   object
EditorLast                    object
editor.gender.manual          object
FirstInst2                    object
Editor.Institution            object
dtype: object

### Clear the data from fields we don't need
Delete all data about gender

In [23]:
data = data.drop(columns=["LeadInitOnly",
                             "first.gender.manual",
                             "first.gender",
                             "first.gender.manual.method",
                             "editor.gender.manual",
                            ])

### Fix columns naming
For the simplicity let's fix the naming to a more logical one

In [24]:
data.rename(columns={'Unnamed': 'index',
                     'TI':'title',
                     'SO':'type',
                     'LeadAuthorFirst':'author_first_name',
                     'LeadAuthorLast':'author_last_name',
                     'EditorFirst':'editor_first_name',
                     'EditorLast':'editor_last_name',
                     'FirstInst2':'author_institution',
                     'Editor.Institution':'editor_institution',
                    }, 
                 inplace=True)

In [25]:
data.dtypes

Unnamed: 0             int64
title                 object
type                  object
author_first_name     object
author_last_name      object
editor_first_name     object
editor_last_name      object
author_institution    object
editor_institution    object
dtype: object

Take only those records where author_first_name & editor_first_name are valid

In [26]:
len(data)

2532

In [27]:
data = data[data['author_first_name'].notnull()]
# data = data[not(len(data['author_first_name']) == 2 and data['author_first_name'][1] == ".")]
data = data[data['editor_first_name'].notnull()]
# data = data[len(data['editor_first_name']) > 2 and data['editor_first_name'][1] != "."]

In [28]:
len(data)

2425

### TODO: label women or men using genderize.io API and (cp + 4 / p + 2) normalization

In [29]:
hashmap = {}
rows_to_del = []

indx = 0

for index, row in data.iterrows():
    if len(row['author_first_name']) == 2 and row['author_first_name'][1] == ".":
        rows_to_del.append(indx)
    elif row['author_first_name'] in hashmap:
        hashmap[row['author_first_name']] += 1
    else:
        hashmap[row['author_first_name']] = 1
    indx += 1

for index, row in data.iterrows():
    if len(row['editor_first_name']) == 2 and row['editor_first_name'][1] == ".":
        rows_to_del.append(indx)
    elif row['editor_first_name'] in hashmap:
        hashmap[row['editor_first_name']] += 1
    else:
        hashmap[row['editor_first_name']] = 1
    indx += 1

for idx in rows_to_del: 
    data.drop(data.index[[idx]])
print(hashmap.keys())

dict_keys(['Jessica', 'Luis', 'Tomoyuki', 'Andre', 'Peter', 'Dean', 'Vanessa', 'Michelle', 'Anurag', 'Ken', 'Dirk', 'Masahiro', 'Christina', 'Marcelo', 'Susanne', 'Patrick', 'Diogo', 'Arnaud', 'Christoffer', 'Joerg', 'Helen', 'Adam', 'Hamid', 'Eric', 'Daniel', 'Maximilian', 'Jacob', 'Andrew', 'David', 'Maria', 'Florian', 'Karie', 'Diego', 'Isabel', 'Priyanga', 'Roberto', 'Tomotsune', 'Aitor', 'Francis', 'Sarah', 'Mette', 'Marti', 'Matthew', 'Thomas', 'Weston', 'Sonia', 'Dvir', 'Patricia', 'Yimen', 'Gerardo', 'Miguel', 'Alicia', 'Hector', 'Jonathan', 'Xavier', 'Jennifer', 'Paula', 'Samuel', 'Sonya', 'Marie', 'Gabriel', 'Willem', 'Amy', 'Colin', 'Tal', 'Jose', 'Ranen', 'Eliran', 'Sandro', 'Benura', 'Benedicte', 'Ruxandra', 'Guy', 'Sara', 'Lander', 'Robert', 'Wenming', 'Ida', 'Liam', 'Diane', 'Andy', 'EmilyClare', 'Timothy', 'Jesus', 'Aabir', 'Natalie', 'Gyoergy', 'Marion', 'Shannon', 'Nicholas', 'Albert', 'Allison', 'Lewis', 'Felipe', 'Luke', 'Ceres', 'Frederic', 'Louise', 'Andres', 'Mathieu', 'Ronald', 'Marinelle', 'Jens', 'Guillaume', 'Kaitlin', 'Virgile', 'Mark', 'Jeremy', 'Michael', 'Niko', 'Abdelkader', 'Kevin', 'Boris', 'James', 'Edwige', 'Maira', 'Joscha', 'Cassandra', 'Alison', 'Joseph', 'Scott', 'Miles', 'Ali', 'Reut', 'Maud', 'Massimo', 'Shimon', 'Yann', 'Elvire', 'Ricardo', 'Gustavo', 'Hawthorne', 'Tracey', 'Simeon', 'Radika', 'Shipra', 'Maloyjo', 'Jiang-Hui', 'Clotilde', 'Filip', 'Dimitri', 'Jay', 'Ewan', 'Tom', 'Uddipta', 'Eirin', 'Tim', 'Paul', 'Benjamin', 'Manuel', 'Elizabeth', 'Gionata', 'Steffen', 'Kate', 'Maarten', 'Carl', 'Monika', 'Folmer', 'Katharina', 'Russell', 'Maxime', 'Richard', 'Bridget', 'Michal', 'Zoltan', 'Filippo', 'Veronique', 'Stephanie', 'Sandra', 'Charlotte', 'Selina', 'Bethany', 'Mariana', 'Vincent', 'Angela', 'Kari', 'Frank', 'Travis', 'Stefan', 'Mario', 'Jedediah', 'Chris', 'Jeffrey', 'Lindell', 'Kristin', 'Emma', 'Mollie', 'Brian', 'Bryan', 'Calum', 'Carissa', 'Christopher', 'Gregory', 'Leone', 'Annalis', 'Nicolas', 'Lars', 'Yannick', 'John', 'Hannah', 'Yvonne', 'Frances', 'Arne', 'Phillip', 'Rebecca', 'Ulf', 'Karin', 'Romina', 'Hugh', 'Edward', 'Falko', 'Raymond', 'Fernando', 'Alexander', 'Francesca', 'Justin', 'Kim', 'Erin', 'Meghan', 'Brandon', 'Ulrika', 'Stefano', 'Minh', 'Pol', 'Isabella', 'Marta', 'Marcel', 'Andrea', 'Pedro', 'Tomas', 'Gunnar', 'Stephen', 'Francesco', 'Paola', 'Raul', 'Martha', 'Max', 'Adrian', 'Santiago', 'Laura', 'Bruno', 'Jane', 'Lorenzo', 'Renee', 'Hugo', 'Giovanni', 'Ann', 'Yosra', 'Stotra', 'Mahul', 'Loic', 'Juliette', 'Thierry', 'Chia-Hao', 'Chih-Han', 'Simon', 'Anne', 'Ben', 'Joanne', 'Jason', 'Cristina', 'Noah', 'Pauline', 'Gautam', 'Ruchi', 'Ian', 'Chao', 'Chih-Kuan', 'Dima', 'Hui', 'Han', 'Huili', 'Jian-Huan', 'Liangliang', 'Meng-Yun', 'Si-Chong', 'Shi-Peng', 'Xiaoshu', 'Ying-Jiun', 'Yong-Liang', 'Yuxin', 'Lei', 'Yong-Sheng', 'Olga', 'Julia', 'Douglas', 'Luis-Miguel', 'Yin', 'Dylan', 'Rachel', 'Jinmyung', 'Sungho', 'Seung', 'Mathilde', 'Villy', 'Danielle', 'Pascal-Antoine', 'Zofia', 'Chengjin', 'Emilio', 'Pablo', 'Alyssa', 'Donald', 'Alice', 'Julien', 'Lauren', 'Lydia', 'Garry', 'Courtney', 'Aldo', 'Timo', 'Stella', 'Dov', 'Adriana', 'Roeland', 'Camille', 'Filipa', 'Raelene', 'Shelley', 'Catherine', 'Clayton', 'Anton', 'Erika', 'Sinead', 'Long-Gang', 'Laurence', 'Till', 'Manuela', 'Martin', 'Johan', 'Tad', 'Rhiannon', 'Anastasia', 'Cristian', 'Savel', 'Gemma', 'Vinicius', 'Cecile', 'Leonardo', 'Barnabas', 'Joshua', 'Marcia', 'Eve', 'Kalina', 'Wayne', 'Nicola', 'Emanuela', 'Teotonio', 'Johannes', 'Wanda', 'Marinrs', 'Sylvia', 'Marianne', 'Marjolein', 'Annelies', 'Pierre', 'Richarda', 'Linda', 'Franciska', 'Caroli', 'William', 'Lylah', 'Steven', 'Israel', 'Wojciech', 'Niv', 'Felix', 'Francisco', 'Qi', 'Helene', 'Rachael', 'Romain', 'Aisling', 'Frederick', 'Lianggong', 'Solomon', 'Annise', 'Margo', 'Xiaoli', 'Aine', 'Nathan', 'Liliya', 'Gbadamassi', 'Petr', 'Aurelien', 'Claire', 'Vinson', 'Louis', 'Enzai', 'Yanjun', 'Cheng-Guo', 'Leandro', 'Melodie', 'Sebastian', 'Jan-Hendrik', 'Grant', 'Alvaro', 'Sjoerd', 'Tammy', 'Alisha', 'Ellie', 'Bodil', 'Arni', 'Wolf', 'Bret', 'Kyle', 'Erle', 'Aaron', 'Antti', 'Philippine', 'Mary', 'Maria-Jose', 'Anu', 'Damien', 'Alba', 'Rampal', 'Kathryn', 'Ashkaan', 'Qiang', 'Maxwell', 'Emily', 'Soren', 'Dominique', 'Remi', 'Emile', 'Federica', 'Colette', 'Dennis', 'Anat', 'Ilka', 'Yanhao', 'Roderick', 'Rasmus', 'Paige', 'Dario', 'Rosa', 'Christine', 'Janna', 'Matteo', 'Goffredo', 'Kelly', 'Genevieve', 'Friederike', 'Josh', 'Diana', 'Connor', 'Ingvild', 'Arietta', 'Cesar', 'Ana', 'Magdalena', 'Elisabeth', 'Rob', 'Elpida', 'Nico', 'Mara', 'Carla', 'Winifred', 'Evan', 'Belen', 'Trevor', 'Emanuel', 'Feng', 'Margit', 'Lucia', 'Miki', 'Tomochika', 'Atsushi', 'Kayoko', 'Tak', 'Suzanne', 'Pamela', 'Marlene', 'Orou', 'Raquel', 'Janet', 'Alexandre', 'Carol', 'Debora', 'Pramod', 'Antonio', 'Krista', 'Uriel', 'Aurore', 'Celine', 'Ewen', 'Zachariah', 'Avazeh', 'Giulia', 'Laureano', 'Xingli', 'Gillian', 'Anais', 'Cindy', 'Clement', 'Mandev', 'Len', 'Laurent', 'Oscar', 'Nick', 'Carola', 'Jian', 'Ivan', 'Adela', 'Edgar', 'DevinW.', 'Arjun', 'Swanne', 'Toni', 'Sybil', 'Iain', 'Jean-Francois', 'Lynn', 'Sean', 'Lisa', 'Matti', 'Victoria', 'Paolo', 'Amanda', 'Alden', 'Annegret', 'Guido', 'Dena', 'Bjoern', 'Greg', 'Michele', 'Gurutzeta', 'Alex', 'Deng-Fu', 'Qinfeng', 'Saumya', 'Eliezer', 'Hyun', 'Nina', 'Jarrod', 'Ulrike', 'Oskar', 'Philip', 'Tsegazeabe', 'Pille', 'Corey', 'Elena', 'Stuart', 'Barbara', 'Niall', 'Witawas', 'Kristian', 'Torrance', 'Henrik', 'Lars-Anders', 'Stijn', 'Yi-Qi', 'Lawrence', 'Britta', 'Anna', 'Karen', 'Sydney', 'Angie', 'Caleb', 'Musa', 'Niles', 'Inger', 'Charles', 'Nicole', 'Graeme', 'Fei', 'Tianhua', 'Geoffrey', 'Marie-Pier', 'Tina', 'Stefanie', 'Jani', 'Leanne', 'Ruben', 'Ashley', 'Kian', 'Francoise', 'Renato', 'Lee', 'Ivar', 'Johnattan', 'Asier', 'Eva', 'Davina', 'Nichola', 'Jes', 'Hagit', 'Dorothee', 'Kenneth', 'Yonit', 'Liza', 'Meredith', 'Franz', 'Jesse', 'Milena', 'Chen-Jei', 'Young', 'Curtis', 'Mickal', 'Ruth', 'Minjie', 'Ya', 'Xia', 'Chien-Hsun', 'Huateng', 'Jen-Pan', 'Wen', 'Yun', 'Yi', 'Zhenying', 'Vicky', 'Leslie', 'Charlie', 'Sulaiman', 'Norikazu', 'Takashi', 'Amiyaal', 'Faith', 'Iker', 'Severin', 'Forest', 'Naoto', 'Solenne', 'Nikolay', 'Anthony', 'Nozomi', 'Rony', 'Heather', 'Staffan', 'Bailey', 'Melissa', 'Johanna', 'Catarina', 'Gunther', 'Lizanne', 'Thijs', 'Coline', 'Ethan', 'Xiang', 'Jinpu', 'Lanna', 'Jingying', 'Pieter', 'Winslow', 'Zoe', 'Tommaso', 'Inacio', 'Antigoni', 'Miriam', 'Veronika', 'Simona', 'Jan', 'Konstantinos', 'Tomislav', 'Olli-Matti', 'Bruce', 'Carly', 'Dorsaf', 'Laetitia', 'Monica', 'Arik', 'Mohammad', 'Imroze', 'Imran', 'Soto', 'Lindall', 'Lynna', 'Anagha', 'Jung-Sik', 'Kangchon', 'Namhee', 'Sin-Yeon', 'Taejin', 'Holly', 'Benedict', 'Ryosuke', 'Kanehiro', 'Tamir', 'Ines', 'Seraina', 'Jonas', 'Jamie', 'Nils', 'Chisato', 'Kazuo', 'Hanna', 'Walter', 'Sally', 'Kenji', 'Dana', 'Osamu', 'Mateusz', 'Nikki', 'Kotaro', 'Christian', 'Martine', 'Kumar', 'Apostolos-Manuel', 'Krzysztof', 'Mikhail', 'Eveline', 'Kris', 'Marc', 'Billy', 'Milos', 'Kristy', 'Denise', 'Navinder', 'Sandeep', 'Sudhir', 'Bright', 'Ting-Chun', 'Andrei', 'Guray', 'Lauri', 'Shawn', 'Mato', 'Saija', 'Hao', 'Zhichun', 'Dominic', 'Tiange', 'Rolanda', 'Moshe', 'Oriol', 'Marguerite', 'Christophe', 'Sophie', 'Liana', 'Julie', 'Anne-Amelie', 'Adi', 'Callum', 'Mehdi', 'Edwin', 'Marcus', 'Erica', 'Hui-Jie', 'Yuh', 'Philippe', 'Lucas', 'Jean-Benoist', 'Stacey', 'Veiko', 'Jussi', 'Samuli', 'Mathew', 'Kellie', 'Gabriella', 'Susan', 'Alexandro', 'Taal', 'Mia', 'Ofir', 'Sue', 'Wesley', 'Bingshan', 'Chun', 'Daijiang', 'Le', 'Ronghua', 'Shan', 'Shao-peng', 'Yingqin', 'Yaoqi', 'Zao', 'Hui-Ling', 'Huixuan', 'Kuo', 'Jean', 'Antonia', 'Jun', 'Guigang', 'Qiong', 'Tiantian', 'Xiaolin', 'Yen-Lung', 'Lovisa', 'Cong', 'Deli', 'Guangchao', 'Guofang', 'Guojing', 'Hai-Jing', 'Junfeng', 'Liang', 'Lan', 'Lingtong', 'Wenwen', 'Xiaojuan', 'Zhongle', 'Bastien', 'Josep', 'Madelon', 'Lynette', 'Ramiro', 'Jessy', 'Sylvain', 'Neil', 'Zdenka', 'Theresa', 'Xinmin', 'Marjorie', 'Rebekka', 'Wenbo', 'Yong', 'Remy', 'Zilong', 'Ilya', 'Kirsty', 'Rohan', 'Ainhoa', 'Karley', 'Kezia', 'Chloe', 'Nuria', 'Amir', 'Mahendra', 'Marco', 'Joana', 'Alan', 'Pascal', 'Leigh', 'Dustin', 'Souhir', 'Silvana', 'Neus', 'Jordi', 'Ellen', 'Chase', 'Peri', 'Takeshi', 'Isabelle', 'Noelie', 'Yannis', 'Melanie', 'Jordan', 'Elise', 'Florent', 'Noemi', 'Ross', 'Christy', 'Craig', 'Brett', 'Braedan', 'Jenni', 'Devan', 'Eliot', 'Kurt', 'Morgan', 'Dino', 'Kimberly', 'Carolina', 'Iliana', 'Maria-Rocio', 'Kalle', 'Chiara', 'Fabio', 'Dazhe', 'Mandy', 'Ignatius', 'Jerod', 'Cory', 'Maren', 'Carsten', 'Christoph', 'Alexandru', 'Beth', 'Siavash', 'Karel', 'Markus', 'Remington', 'Cristin', 'Glenn', 'Keyne', 'Pierre-Olivier', 'Heli', 'Alana', 'Julio', 'Raphael', 'Xoaquin', 'Federico', 'Mariano', 'Rocio', 'Akira', 'Erik', 'Anna-Katharina', 'Lena', 'Nibedita', 'Gregor', 'Kasper', 'Tamara', 'Seth', 'Ranjan', 'Khurram', 'Laszlo', 'Masashi', 'Shinichi', 'Shigeki', 'Itsumi', 'Samina', 'Chandrasekhar', 'Marina', 'Bradley', 'Pavel', 'Eike', 'Aidin', 'Minghua', 'Hidenori', 'Shuli', 'Armita', 'Nessa', 'Shay', 'Ayub', 'Huw', 'Kiona', 'Wakana', 'Kazuaki', 'Kiva', 'Inigo', 'Luiz', 'Brunno', 'Renske', 'Juan', 'Alejandro', 'German', 'Dakis-Yaoba', 'Brittany', 'Otso', 'Krishna', 'Virpi', 'Qingmin', 'Shuai', 'Jelena', 'Katherine', 'Spiros', 'Matthieu', 'Jeong', 'Yeonwoo', 'Valeriano', 'Foteini', 'Giannina', 'Jairo', 'Susana', 'Lorelei', 'Shishir', 'Celia', 'Quentin', 'Kabir', 'Apostolos', 'Alon', 'Tara', 'Drew', 'Duane', 'Qian', 'Marcin', 'Guadalupe', 'Ignacio', 'Joshuah', 'Owen', 'Hendrik', 'Tereza', 'Nathalie', 'Theoni', 'Courty', 'Esther', 'Cecilia', 'Candace', 'Frida', 'Aliny', 'Floriane', 'Roy', 'Timothee', 'Kadri', 'Art', 'Saurabh', 'Andreas', 'Jamir', 'Jayme', 'Magali', 'Roland', 'Marie-Therese', 'Graham', 'Huijie', 'Xiujuan', 'Yingying', 'Jiangxiao', 'Kai', 'Tamar', 'Viktoriia', 'Reinder', 'Joel', 'Jorge', 'Sophia', 'Geir', 'Alissa', 'Bronwyn', 'Onja', 'Fatima', 'Sydne', 'Siamak', 'Charlotte.', 'Lindsey', 'Elaine', 'Suzy', 'Leif', 'Samantha', 'Klaus', 'Ruediger', 'Corinna', 'Brad', 'Anita', 'Bjorn', 'Irene', 'Sebastien', 'Chelsea', 'Jeronimo', 'Fabian', 'Rebekah', 'Rori', 'Danny', 'Bartholomew', 'Uri', 'Pascale', 'Dan', 'Lukas', 'Ilan', 'Clara', 'Viviana', 'Lasse', 'Emmanuel', 'Clark', 'Alexis', 'Alexey', 'Sassan', 'Serguei', 'Asaf', 'Helena', 'Mahasweta', 'Romeo', 'Pedram', 'Brody', 'Simone', 'Eduardo', 'Noelia', 'Shrutii', 'Trey', 'Wolf-Christian', 'Alix', 'Erfan', 'Inon', 'Juliana', 'Conrad', 'Lotte', 'Franziska', 'Wiebke', 'Jon', 'Francisca', 'Carole', 'Caroline', 'Vladimir', 'Kriti', 'Pei-Jen', 'Natasha', 'Xing-Xing', 'Bihai', 'Shengjing', 'Zheng', 'Hideyasu', 'Xingfeng', 'Carlos', 'Daniele', 'Nadja', 'Kimberley', 'Brent', 'Maggi', 'Gilbert', 'Szymon', 'Janne', 'Victor', 'Claudia', 'Rahel', 'Marius', 'Li', 'Judit', 'Merel', 'Nadejda', 'Marko', 'Orr', 'Tanja', 'Anke', 'Eleanore', 'Martina', 'Laurie', 'Laerke', 'Dejan', 'Jakub', 'Robby', 'Arlin', 'Rivka', 'Kerry', 'Katharine', 'Coleen', 'Jeet', 'Jae', 'Petra', 'Xuehui', 'Xiao-Qin', 'Yan', 'Way', 'Gergely', 'Yuuya', 'Shun', 'Ge', 'Xiaoyun', 'Kohtaro', 'Min', 'Leiling', 'Gareth', 'Caz', 'Olle', 'Mridul', 'Jan-Erik', 'Wilfried', 'Uffe', 'Qiuying', 'Petter', 'Reid', 'Derek', 'Thu-Hien', 'Cornelia', 'Maude', 'Calandra', 'Julian', 'Janeene', 'Giedrius', 'Kostas', 'Arti', 'Jolyon', 'Nidia', 'Mao-Ning', 'Strahan', 'Murat', 'Nash', 'Blaise', 'Akane', 'Ikram', 'Junji', 'Hunter', 'Hiromi', 'Maitreyi', 'Daisuke', 'Shunsuke', 'Josef', 'Fernanda', 'Panu', 'Audrey', 'Fons', 'Masha', 'Menno', 'Bram', 'Robin', 'Javier', 'Michalis', 'Rita', 'Michiel', 'Michel', 'Mayra', 'Elin', 'Ghislain', 'Marcos', 'Vasco', 'Roshan', 'Montserrat', 'Yngvild', 'Vernon', 'Jeferson', 'Kristofor', 'Manja', 'Cameron', 'Rui-Wu', 'Shaopeng', 'Xugao', 'Xuhui', 'Yafeng', 'Yanping', 'Zhengfei', 'Nickolas', 'Safaa', 'Yuuki', 'Bettina', 'Mitch', 'Yulong', 'Lucy', 'Miranda', 'Ingmar', 'Hal', 'Camilla', 'Phil', 'Howard', 'Kirk', 'Corlett', 'Zachary', 'Rosie', 'Carrie', 'Alexandra', 'April', 'Guangxi', 'Junjie', 'XianMing', 'Xinwei', 'Yaning', 'Xinqiang', 'Rui', 'Zhi-Chao', 'Xiao', 'Ying', 'Ting', 'Ke', 'Yaowu', 'Chi', 'Jinrui', 'Lingyang', 'Sen', 'Wubing', 'Ximing', 'Zhuwen', 'Chuan', 'Zhengbing', 'Hsin-Chou', 'Jian-Rong', 'Qi-En', 'Wei', 'Xuejun', 'Xin-Zhuang', 'Zhenzhen', 'Varvara', 'Kara', 'Tian-Ying', 'Yao', 'Zhen', 'Zhi-Yong', 'Seongsik', 'Musinu', 'Veronica', 'Marketa', 'Libor', 'Baocheng', 'Biyao', 'He', 'Jiao-Lin', 'Quan-Guo', 'Shuang', 'Shuxiao', 'Weidong', 'Yu', 'Ning', 'Xiao-Nan', 'Xiaqing', 'Chaozhi', 'Xiaoming', 'Yangquanwei', 'Xiaolu', 'Limei', 'Qiuan', 'Tianqi', 'Xuli', 'Zhengting', 'Debra', 'Yazmin', 'Alain', 'Holger', 'Naruya', 'Jean-Michel', 'Liliane', 'Kaveh', 'Leon', 'Eoin', 'Eleftheria', 'Blaine', 'Ted', 'Sergei', 'Hafiz', 'Lidia', 'Alberto', 'Marie-Josee', 'Luca', 'Atle', 'Tiffani', 'Aimee', 'Fanie', 'Jianzhi', 'Gerhard', 'Lorena', 'Xun', 'Brenda', 'Christer', 'Gordon', 'Mikko', 'Martijn', 'Carolyn', 'Hans', 'Olivier', 'lotte', 'Allen', 'DeHua', 'Benoit', 'Lorraine', 'Francois', 'Gunter', 'Rolf', 'Claude', 'Gang', 'Jeannine', 'Norm', 'Hideki', 'Shai', 'Stan', 'John-Arvid', 'Giulio', 'Will', 'Roberta', 'Torben', 'Madan', 'Connie', 'Franck', 'Yikang', 'Salit', 'Judith', 'Ryan', 'Koichiro', 'Shizhong', 'Elsa', 'Norman', 'Shurong', 'Punidan', 'Cedrid', 'Sergio', 'Antoine', 'Xin-Yun', 'Sudha', 'Gitta', 'Ortrun', 'Xiaofeng', 'Claus', 'Jana', 'Satu', 'Rien', 'Nils-Goran', 'Hong', 'Stewart', 'william', 'Jerome', 'Matt', 'Tamara ', 'Heiko', 'Katja', 'Minus', 'Sasha', 'Stephane', 'Ivette', 'Diamaid', 'Ignasi', 'Karl', 'Csaba', 'Serita', 'Birgit', 'Sheena', 'Niklaus', 'Arndt', 'Tetsuji', 'Gavin', 'Ulrich', 'Colleen', 'Thom', 'Sharon', 'Randall', 'Kathleen', 'Ferenc', 'Leighton', 'Randy', 'Nigel', 'Lewi', 'Gabriele', 'Harmit', 'Katrin', 'Tricia', 'Bas', 'Gabrielle', 'Marisa', 'Akiko', 'Fabien', 'Hamit', 'Truman', 'M', 'Helmut', 'Jean-Jacques', 'Bernd', 'Shinicki', 'Bill', 'Micky', 'Spencer', 'Sohini', 'Arpat', 'Valter', 'Tadashi', 'Jose Maria', 'Xuernei', 'Subhash', 'Rudolf', 'Bridgett', 'Gabriela', 'Vojtech', 'Gerlinde', 'Keith', 'Matthias', 'Bing', 'Dieter', 'Etienne', 'Christiaan', 'Wendy', 'Dave', 'Luc', 'Robb', 'Liesje', 'Tony', 'Naoko', 'Jue', 'Ernesto', 'Achim', 'Burt', 'Dmitri', 'Darren', 'Nadia', 'Fangliang', 'Geraldine', 'Yoko', 'Todd', 'Perry', 'Willie', 'Murray', 'Marie-Jose', 'Austin', 'Janneke Hille', 'Marm', 'Melinda', 'Shahragim', 'Huilin', 'Cedric', 'Aoife', 'Marci', 'Neal', 'Guarino', 'Jouni', 'Yuseob', 'Norbert', 'AD', 'Orlando', 'Gary', 'Sissel', 'Abraham', 'Leo', 'Lise', 'Jeffery', 'Nancy', 'Manolo', 'Eelke', 'Hillary', 'Mike', 'Carlo', 'Daven', 'Volker', 'Jef', 'Ron', 'Ran', 'Katriona', 'Kavita', 'Lingli', 'Steve', 'Mikkel', 'Dali', 'Francis-Andre', 'Henri', 'Margaret', 'Nora'])

In [30]:
print("There are {} unique names".format(len(hashmap.keys())))

There are 1485 unique names

In [31]:
import json
import requests
# Example of API output
requests.get(url='https://api.genderize.io/?name=' + 'tanya').content

b'{"name":"tanya","gender":"female","probability":1,"count":960}'

In [32]:
# Commented sending requests to genderize API
#for name in hashmap.keys(): 
#    hashmap[name] = requests.get(url='https://api.genderize.io/?name=' + name.lower()).content

In [33]:
print(hashmap)

{'Jessica': 17, 'Luis': 5, 'Tomoyuki': 1, 'Andre': 3, 'Peter': 59, 'Dean': 1, 'Vanessa': 2, 'Michelle': 3, 'Anurag': 1, 'Ken': 10, 'Dirk': 4, 'Masahiro': 1, 'Christina': 3, 'Marcelo': 2, 'Susanne': 4, 'Patrick': 9, 'Diogo': 1, 'Arnaud': 1, 'Christoffer': 1, 'Joerg': 3, 'Helen': 6, 'Adam': 14, 'Hamid': 1, 'Eric': 18, 'Daniel': 55, 'Maximilian': 2, 'Jacob': 3, 'Andrew': 43, 'David': 115, 'Maria': 22, 'Florian': 4, 'Karie': 1, 'Diego': 5, 'Isabel': 3, 'Priyanga': 5, 'Roberto': 10, 'Tomotsune': 1, 'Aitor': 1, 'Francis': 4, 'Sarah': 20, 'Mette': 2, 'Marti': 2, 'Matthew': 42, 'Thomas': 56, 'Weston': 1, 'Sonia': 6, 'Dvir': 1, 'Patricia': 11, 'Yimen': 1, 'Gerardo': 1, 'Miguel': 9, 'Alicia': 3, 'Hector': 6, 'Jonathan': 48, 'Xavier': 4, 'Jennifer': 27, 'Paula': 6, 'Samuel': 6, 'Sonya': 1, 'Marie': 1, 'Gabriel': 4, 'Willem': 1, 'Amy': 31, 'Colin': 1, 'Tal': 6, 'Jose': 14, 'Ranen': 1, 'Eliran': 1, 'Sandro': 1, 'Benura': 1, 'Benedicte': 1, 'Ruxandra': 1, 'Guy': 1, 'Sara': 3, 'Lander': 1, 'Robert': 86, 'Wenming': 1, 'Ida': 1, 'Liam': 3, 'Diane': 2, 'Andy': 9, 'EmilyClare': 1, 'Timothy': 4, 'Jesus': 3, 'Aabir': 1, 'Natalie': 7, 'Gyoergy': 1, 'Marion': 3, 'Shannon': 2, 'Nicholas': 13, 'Albert': 5, 'Allison': 3, 'Lewis': 2, 'Felipe': 1, 'Luke': 14, 'Ceres': 1, 'Frederic': 4, 'Louise': 3, 'Andres': 8, 'Mathieu': 5, 'Ronald': 6, 'Marinelle': 1, 'Jens': 4, 'Guillaume': 2, 'Kaitlin': 1, 'Virgile': 1, 'Mark': 48, 'Jeremy': 8, 'Michael': 65, 'Niko': 1, 'Abdelkader': 1, 'Kevin': 11, 'Boris': 4, 'James': 45, 'Edwige': 1, 'Maira': 1, 'Joscha': 1, 'Cassandra': 1, 'Alison': 9, 'Joseph': 31, 'Scott': 21, 'Miles': 1, 'Ali': 1, 'Reut': 1, 'Maud': 2, 'Massimo': 1, 'Shimon': 1, 'Yann': 1, 'Elvire': 1, 'Ricardo': 3, 'Gustavo': 2, 'Hawthorne': 1, 'Tracey': 2, 'Simeon': 1, 'Radika': 1, 'Shipra': 1, 'Maloyjo': 1, 'Jiang-Hui': 1, 'Clotilde': 1, 'Filip': 1, 'Dimitri': 1, 'Jay': 8, 'Ewan': 3, 'Tom': 12, 'Uddipta': 1, 'Eirin': 1, 'Tim': 30, 'Paul': 11, 'Benjamin': 10, 'Manuel': 7, 'Elizabeth': 18, 'Gionata': 1, 'Steffen': 1, 'Kate': 8, 'Maarten': 4, 'Carl': 2, 'Monika': 2, 'Folmer': 1, 'Katharina': 3, 'Russell': 2, 'Maxime': 3, 'Richard': 63, 'Bridget': 1, 'Michal': 4, 'Zoltan': 1, 'Filippo': 1, 'Veronique': 2, 'Stephanie': 6, 'Sandra': 4, 'Charlotte': 3, 'Selina': 1, 'Bethany': 2, 'Mariana': 1, 'Vincent': 13, 'Angela': 4, 'Kari': 2, 'Frank': 16, 'Travis': 1, 'Stefan': 2, 'Mario': 3, 'Jedediah': 1, 'Chris': 6, 'Jeffrey': 14, 'Lindell': 1, 'Kristin': 4, 'Emma': 8, 'Mollie': 1, 'Brian': 51, 'Bryan': 4, 'Calum': 1, 'Carissa': 1, 'Christopher': 14, 'Gregory': 32, 'Leone': 1, 'Annalis': 1, 'Nicolas': 13, 'Lars': 10, 'Yannick': 1, 'John': 93, 'Hannah': 1, 'Yvonne': 5, 'Frances': 1, 'Arne': 6, 'Phillip': 2, 'Rebecca': 17, 'Ulf': 1, 'Karin': 3, 'Romina': 1, 'Hugh': 4, 'Edward': 10, 'Falko': 1, 'Raymond': 1, 'Fernando': 2, 'Alexander': 9, 'Francesca': 1, 'Justin': 14, 'Kim': 5, 'Erin': 8, 'Meghan': 3, 'Brandon': 12, 'Ulrika': 1, 'Stefano': 1, 'Minh': 1, 'Pol': 1, 'Isabella': 1, 'Marta': 5, 'Marcel': 20, 'Andrea': 7, 'Pedro': 11, 'Tomas': 3, 'Gunnar': 1, 'Stephen': 23, 'Francesco': 1, 'Paola': 1, 'Raul': 2, 'Martha': 2, 'Max': 1, 'Adrian': 7, 'Santiago': 3, 'Laura': 27, 'Bruno': 2, 'Jane': 7, 'Lorenzo': 3, 'Renee': 2, 'Hugo': 4, 'Giovanni': 3, 'Ann': 1, 'Yosra': 1, 'Stotra': 1, 'Mahul': 1, 'Loic': 2, 'Juliette': 4, 'Thierry': 6, 'Chia-Hao': 1, 'Chih-Han': 1, 'Simon': 23, 'Anne': 12, 'Ben': 22, 'Joanne': 1, 'Jason': 28, 'Cristina': 2, 'Noah': 3, 'Pauline': 1, 'Gautam': 1, 'Ruchi': 1, 'Ian': 10, 'Chao': 1, 'Chih-Kuan': 1, 'Dima': 1, 'Hui': 1, 'Han': 3, 'Huili': 1, 'Jian-Huan': 1, 'Liangliang': 1, 'Meng-Yun': 1, 'Si-Chong': 1, 'Shi-Peng': 1, 'Xiaoshu': 1, 'Ying-Jiun': 1, 'Yong-Liang': 1, 'Yuxin': 1, 'Lei': 2, 'Yong-Sheng': 1, 'Olga': 5, 'Julia': 7, 'Douglas': 10, 'Luis-Miguel': 1, 'Yin': 1, 'Dylan': 8, 'Rachel': 6, 'Jinmyung': 1, 'Sungho': 1, 'Seung': 1, 'Mathilde': 1, 'Villy': 1, 'Danielle': 4, 'Pascal-Antoine': 1, 'Zofia': 2, 'Chengjin': 1, 'Emilio': 2, 'Pablo': 3, 'Alyssa': 2, 'Donald': 10, 'Alice': 4, 'Julien': 2, 'Lauren': 7, 'Lydia': 1, 'Garry': 1, 'Courtney': 2, 'Aldo': 1, 'Timo': 1, 'Stella': 1, 'Dov': 2, 'Adriana': 6, 'Roeland': 1, 'Camille': 2, 'Filipa': 1, 'Raelene': 1, 'Shelley': 1, 'Catherine': 4, 'Clayton': 1, 'Anton': 1, 'Erika': 4, 'Sinead': 1, 'Long-Gang': 1, 'Laurence': 1, 'Till': 1, 'Manuela': 2, 'Martin': 43, 'Johan': 3, 'Tad': 1, 'Rhiannon': 1, 'Anastasia': 1, 'Cristian': 3, 'Savel': 1, 'Gemma': 4, 'Vinicius': 2, 'Cecile': 2, 'Leonardo': 5, 'Barnabas': 1, 'Joshua': 12, 'Marcia': 1, 'Eve': 1, 'Kalina': 1, 'Wayne': 4, 'Nicola': 3, 'Emanuela': 1, 'Teotonio': 1, 'Johannes': 10, 'Wanda': 1, 'Marinrs': 1, 'Sylvia': 1, 'Marianne': 2, 'Marjolein': 1, 'Annelies': 1, 'Pierre': 2, 'Richarda': 1, 'Linda': 11, 'Franciska': 4, 'Caroli': 1, 'William': 21, 'Lylah': 1, 'Steven': 20, 'Israel': 1, 'Wojciech': 2, 'Niv': 1, 'Felix': 2, 'Francisco': 4, 'Qi': 1, 'Helene': 12, 'Rachael': 3, 'Romain': 1, 'Aisling': 1, 'Frederick': 4, 'Lianggong': 1, 'Solomon': 1, 'Annise': 1, 'Margo': 1, 'Xiaoli': 1, 'Aine': 1, 'Nathan': 26, 'Liliya': 1, 'Gbadamassi': 1, 'Petr': 1, 'Aurelien': 1, 'Claire': 6, 'Vinson': 1, 'Louis': 2, 'Enzai': 1, 'Yanjun': 1, 'Cheng-Guo': 1, 'Leandro': 1, 'Melodie': 1, 'Sebastian': 11, 'Jan-Hendrik': 1, 'Grant': 1, 'Alvaro': 2, 'Sjoerd': 1, 'Tammy': 1, 'Alisha': 2, 'Ellie': 1, 'Bodil': 1, 'Arni': 1, 'Wolf': 2, 'Bret': 2, 'Kyle': 3, 'Erle': 1, 'Aaron': 13, 'Antti': 1, 'Philippine': 1, 'Mary': 7, 'Maria-Jose': 1, 'Anu': 2, 'Damien': 2, 'Alba': 1, 'Rampal': 2, 'Kathryn': 3, 'Ashkaan': 1, 'Qiang': 3, 'Maxwell': 3, 'Emily': 9, 'Soren': 2, 'Dominique': 2, 'Remi': 2, 'Emile': 1, 'Federica': 2, 'Colette': 2, 'Dennis': 1, 'Anat': 1, 'Ilka': 1, 'Yanhao': 2, 'Roderick': 1, 'Rasmus': 4, 'Paige': 1, 'Dario': 1, 'Rosa': 1, 'Christine': 7, 'Janna': 1, 'Matteo': 1, 'Goffredo': 1, 'Kelly': 2, 'Genevieve': 2, 'Friederike': 1, 'Josh': 1, 'Diana': 8, 'Connor': 1, 'Ingvild': 1, 'Arietta': 1, 'Cesar': 1, 'Ana': 11, 'Magdalena': 2, 'Elisabeth': 2, 'Rob': 3, 'Elpida': 1, 'Nico': 1, 'Mara': 1, 'Carla': 8, 'Winifred': 1, 'Evan': 13, 'Belen': 1, 'Trevor': 4, 'Emanuel': 2, 'Feng': 1, 'Margit': 1, 'Lucia': 1, 'Miki': 1, 'Tomochika': 1, 'Atsushi': 1, 'Kayoko': 1, 'Tak': 1, 'Suzanne': 2, 'Pamela': 5, 'Marlene': 2, 'Orou': 1, 'Raquel': 1, 'Janet': 1, 'Alexandre': 4, 'Carol': 5, 'Debora': 1, 'Pramod': 1, 'Antonio': 1, 'Krista': 1, 'Uriel': 1, 'Aurore': 1, 'Celine': 1, 'Ewen': 1, 'Zachariah': 1, 'Avazeh': 1, 'Giulia': 2, 'Laureano': 1, 'Xingli': 2, 'Gillian': 1, 'Anais': 1, 'Cindy': 1, 'Clement': 1, 'Mandev': 1, 'Len': 2, 'Laurent': 1, 'Oscar': 6, 'Nick': 12, 'Carola': 2, 'Jian': 5, 'Ivan': 5, 'Adela': 1, 'Edgar': 1, 'DevinW.': 1, 'Arjun': 1, 'Swanne': 1, 'Toni': 2, 'Sybil': 1, 'Iain': 2, 'Jean-Francois': 3, 'Lynn': 2, 'Sean': 13, 'Lisa': 2, 'Matti': 2, 'Victoria': 3, 'Paolo': 1, 'Amanda': 6, 'Alden': 5, 'Annegret': 1, 'Guido': 1, 'Dena': 1, 'Bjoern': 1, 'Greg': 22, 'Michele': 1, 'Gurutzeta': 1, 'Alex': 4, 'Deng-Fu': 1, 'Qinfeng': 1, 'Saumya': 1, 'Eliezer': 1, 'Hyun': 1, 'Nina': 10, 'Jarrod': 6, 'Ulrike': 1, 'Oskar': 1, 'Philip': 5, 'Tsegazeabe': 1, 'Pille': 1, 'Corey': 3, 'Elena': 4, 'Stuart': 20, 'Barbara': 11, 'Niall': 1, 'Witawas': 1, 'Kristian': 1, 'Torrance': 1, 'Henrik': 1, 'Lars-Anders': 1, 'Stijn': 1, 'Yi-Qi': 1, 'Lawrence': 1, 'Britta': 1, 'Anna': 14, 'Karen': 2, 'Sydney': 1, 'Angie': 1, 'Caleb': 1, 'Musa': 1, 'Niles': 1, 'Inger': 2, 'Charles': 7, 'Nicole': 11, 'Graeme': 12, 'Fei': 1, 'Tianhua': 1, 'Geoffrey': 3, 'Marie-Pier': 1, 'Tina': 1, 'Stefanie': 1, 'Jani': 1, 'Leanne': 1, 'Ruben': 1, 'Ashley': 1, 'Kian': 1, 'Francoise': 1, 'Renato': 1, 'Lee': 3, 'Ivar': 1, 'Johnattan': 1, 'Asier': 1, 'Eva': 6, 'Davina': 1, 'Nichola': 1, 'Jes': 1, 'Hagit': 1, 'Dorothee': 1, 'Kenneth': 9, 'Yonit': 1, 'Liza': 3, 'Meredith': 8, 'Franz': 1, 'Jesse': 2, 'Milena': 1, 'Chen-Jei': 1, 'Young': 1, 'Curtis': 2, 'Mickal': 1, 'Ruth': 3, 'Minjie': 1, 'Ya': 2, 'Xia': 2, 'Chien-Hsun': 1, 'Huateng': 1, 'Jen-Pan': 1, 'Wen': 1, 'Yun': 2, 'Yi': 1, 'Zhenying': 1, 'Vicky': 1, 'Leslie': 1, 'Charlie': 2, 'Sulaiman': 1, 'Norikazu': 1, 'Takashi': 7, 'Amiyaal': 1, 'Faith': 1, 'Iker': 1, 'Severin': 1, 'Forest': 1, 'Naoto': 1, 'Solenne': 1, 'Nikolay': 1, 'Anthony': 9, 'Nozomi': 1, 'Rony': 1, 'Heather': 3, 'Staffan': 1, 'Bailey': 2, 'Melissa': 5, 'Johanna': 1, 'Catarina': 1, 'Gunther': 1, 'Lizanne': 1, 'Thijs': 1, 'Coline': 1, 'Ethan': 1, 'Xiang': 2, 'Jinpu': 1, 'Lanna': 1, 'Jingying': 1, 'Pieter': 4, 'Winslow': 1, 'Zoe': 1, 'Tommaso': 1, 'Inacio': 1, 'Antigoni': 1, 'Miriam': 9, 'Veronika': 1, 'Simona': 1, 'Jan': 4, 'Konstantinos': 1, 'Tomislav': 1, 'Olli-Matti': 1, 'Bruce': 11, 'Carly': 1, 'Dorsaf': 1, 'Laetitia': 1, 'Monica': 4, 'Arik': 1, 'Mohammad': 1, 'Imroze': 1, 'Imran': 1, 'Soto': 1, 'Lindall': 1, 'Lynna': 1, 'Anagha': 1, 'Jung-Sik': 1, 'Kangchon': 1, 'Namhee': 1, 'Sin-Yeon': 1, 'Taejin': 1, 'Holly': 3, 'Benedict': 1, 'Ryosuke': 1, 'Kanehiro': 1, 'Tamir': 2, 'Ines': 1, 'Seraina': 1, 'Jonas': 4, 'Jamie': 2, 'Nils': 1, 'Chisato': 1, 'Kazuo': 1, 'Hanna': 3, 'Walter': 7, 'Sally': 2, 'Kenji': 1, 'Dana': 2, 'Osamu': 1, 'Mateusz': 1, 'Nikki': 1, 'Kotaro': 1, 'Christian': 4, 'Martine': 1, 'Kumar': 1, 'Apostolos-Manuel': 1, 'Krzysztof': 1, 'Mikhail': 2, 'Eveline': 1, 'Kris': 1, 'Marc': 6, 'Billy': 1, 'Milos': 1, 'Kristy': 1, 'Denise': 1, 'Navinder': 1, 'Sandeep': 1, 'Sudhir': 3, 'Bright': 1, 'Ting-Chun': 1, 'Andrei': 1, 'Guray': 1, 'Lauri': 1, 'Shawn': 1, 'Mato': 1, 'Saija': 1, 'Hao': 6, 'Zhichun': 1, 'Dominic': 2, 'Tiange': 1, 'Rolanda': 1, 'Moshe': 1, 'Oriol': 1, 'Marguerite': 1, 'Christophe': 4, 'Sophie': 4, 'Liana': 1, 'Julie': 4, 'Anne-Amelie': 1, 'Adi': 1, 'Callum': 1, 'Mehdi': 1, 'Edwin': 3, 'Marcus': 1, 'Erica': 9, 'Hui-Jie': 1, 'Yuh': 1, 'Philippe': 1, 'Lucas': 1, 'Jean-Benoist': 1, 'Stacey': 2, 'Veiko': 1, 'Jussi': 1, 'Samuli': 1, 'Mathew': 1, 'Kellie': 1, 'Gabriella': 1, 'Susan': 11, 'Alexandro': 1, 'Taal': 1, 'Mia': 1, 'Ofir': 1, 'Sue': 1, 'Wesley': 2, 'Bingshan': 1, 'Chun': 1, 'Daijiang': 1, 'Le': 1, 'Ronghua': 1, 'Shan': 1, 'Shao-peng': 3, 'Yingqin': 1, 'Yaoqi': 1, 'Zao': 1, 'Hui-Ling': 1, 'Huixuan': 1, 'Kuo': 1, 'Jean': 3, 'Antonia': 1, 'Jun': 3, 'Guigang': 1, 'Qiong': 1, 'Tiantian': 1, 'Xiaolin': 1, 'Yen-Lung': 1, 'Lovisa': 1, 'Cong': 1, 'Deli': 1, 'Guangchao': 1, 'Guofang': 1, 'Guojing': 1, 'Hai-Jing': 1, 'Junfeng': 1, 'Liang': 1, 'Lan': 1, 'Lingtong': 1, 'Wenwen': 1, 'Xiaojuan': 1, 'Zhongle': 1, 'Bastien': 1, 'Josep': 15, 'Madelon': 2, 'Lynette': 1, 'Ramiro': 1, 'Jessy': 1, 'Sylvain': 1, 'Neil': 1, 'Zdenka': 1, 'Theresa': 1, 'Xinmin': 1, 'Marjorie': 2, 'Rebekka': 2, 'Wenbo': 1, 'Yong': 1, 'Remy': 1, 'Zilong': 1, 'Ilya': 5, 'Kirsty': 1, 'Rohan': 1, 'Ainhoa': 1, 'Karley': 1, 'Kezia': 1, 'Chloe': 1, 'Nuria': 2, 'Amir': 1, 'Mahendra': 1, 'Marco': 9, 'Joana': 2, 'Alan': 2, 'Pascal': 2, 'Leigh': 1, 'Dustin': 1, 'Souhir': 1, 'Silvana': 1, 'Neus': 1, 'Jordi': 4, 'Ellen': 6, 'Chase': 1, 'Peri': 1, 'Takeshi': 1, 'Isabelle': 1, 'Noelie': 1, 'Yannis': 1, 'Melanie': 2, 'Jordan': 2, 'Elise': 2, 'Florent': 1, 'Noemi': 1, 'Ross': 1, 'Christy': 3, 'Craig': 1, 'Brett': 2, 'Braedan': 1, 'Jenni': 2, 'Devan': 1, 'Eliot': 1, 'Kurt': 1, 'Morgan': 2, 'Dino': 1, 'Kimberly': 2, 'Carolina': 3, 'Iliana': 1, 'Maria-Rocio': 1, 'Kalle': 2, 'Chiara': 2, 'Fabio': 2, 'Dazhe': 1, 'Mandy': 1, 'Ignatius': 1, 'Jerod': 1, 'Cory': 1, 'Maren': 1, 'Carsten': 2, 'Christoph': 8, 'Alexandru': 1, 'Beth': 8, 'Siavash': 1, 'Karel': 1, 'Markus': 1, 'Remington': 1, 'Cristin': 1, 'Glenn': 5, 'Keyne': 1, 'Pierre-Olivier': 1, 'Heli': 1, 'Alana': 1, 'Julio': 1, 'Raphael': 2, 'Xoaquin': 1, 'Federico': 1, 'Mariano': 1, 'Rocio': 1, 'Akira': 1, 'Erik': 7, 'Anna-Katharina': 1, 'Lena': 2, 'Nibedita': 1, 'Gregor': 7, 'Kasper': 1, 'Tamara': 9, 'Seth': 1, 'Ranjan': 1, 'Khurram': 1, 'Laszlo': 1, 'Masashi': 1, 'Shinichi': 1, 'Shigeki': 1, 'Itsumi': 1, 'Samina': 1, 'Chandrasekhar': 1, 'Marina': 6, 'Bradley': 5, 'Pavel': 1, 'Eike': 1, 'Aidin': 1, 'Minghua': 1, 'Hidenori': 1, 'Shuli': 1, 'Armita': 1, 'Nessa': 1, 'Shay': 2, 'Ayub': 1, 'Huw': 1, 'Kiona': 1, 'Wakana': 1, 'Kazuaki': 1, 'Kiva': 1, 'Inigo': 1, 'Luiz': 1, 'Brunno': 1, 'Renske': 2, 'Juan': 3, 'Alejandro': 3, 'German': 1, 'Dakis-Yaoba': 1, 'Brittany': 4, 'Otso': 3, 'Krishna': 1, 'Virpi': 1, 'Qingmin': 1, 'Shuai': 1, 'Jelena': 1, 'Katherine': 5, 'Spiros': 1, 'Matthieu': 1, 'Jeong': 1, 'Yeonwoo': 1, 'Valeriano': 1, 'Foteini': 1, 'Giannina': 1, 'Jairo': 1, 'Susana': 2, 'Lorelei': 1, 'Shishir': 1, 'Celia': 2, 'Quentin': 1, 'Kabir': 1, 'Apostolos': 1, 'Alon': 1, 'Tara': 1, 'Drew': 2, 'Duane': 1, 'Qian': 2, 'Marcin': 2, 'Guadalupe': 1, 'Ignacio': 2, 'Joshuah': 1, 'Owen': 1, 'Hendrik': 1, 'Tereza': 1, 'Nathalie': 2, 'Theoni': 1, 'Courty': 1, 'Esther': 3, 'Cecilia': 1, 'Candace': 1, 'Frida': 4, 'Aliny': 1, 'Floriane': 3, 'Roy': 1, 'Timothee': 11, 'Kadri': 1, 'Art': 1, 'Saurabh': 1, 'Andreas': 6, 'Jamir': 1, 'Jayme': 1, 'Magali': 1, 'Roland': 1, 'Marie-Therese': 1, 'Graham': 3, 'Huijie': 1, 'Xiujuan': 1, 'Yingying': 1, 'Jiangxiao': 1, 'Kai': 1, 'Tamar': 1, 'Viktoriia': 1, 'Reinder': 1, 'Joel': 4, 'Jorge': 1, 'Sophia': 1, 'Geir': 1, 'Alissa': 1, 'Bronwyn': 1, 'Onja': 2, 'Fatima': 1, 'Sydne': 1, 'Siamak': 1, 'Charlotte.': 1, 'Lindsey': 1, 'Elaine': 1, 'Suzy': 1, 'Leif': 1, 'Samantha': 6, 'Klaus': 1, 'Ruediger': 1, 'Corinna': 1, 'Brad': 2, 'Anita': 2, 'Bjorn': 1, 'Irene': 1, 'Sebastien': 2, 'Chelsea': 2, 'Jeronimo': 1, 'Fabian': 1, 'Rebekah': 1, 'Rori': 1, 'Danny': 1, 'Bartholomew': 1, 'Uri': 1, 'Pascale': 1, 'Dan': 2, 'Lukas': 1, 'Ilan': 1, 'Clara': 2, 'Viviana': 1, 'Lasse': 2, 'Emmanuel': 6, 'Clark': 2, 'Alexis': 1, 'Alexey': 1, 'Sassan': 1, 'Serguei': 1, 'Asaf': 2, 'Helena': 1, 'Mahasweta': 1, 'Romeo': 1, 'Pedram': 1, 'Brody': 4, 'Simone': 1, 'Eduardo': 4, 'Noelia': 1, 'Shrutii': 1, 'Trey': 1, 'Wolf-Christian': 1, 'Alix': 1, 'Erfan': 1, 'Inon': 1, 'Juliana': 2, 'Conrad': 2, 'Lotte': 2, 'Franziska': 1, 'Wiebke': 1, 'Jon': 2, 'Francisca': 1, 'Carole': 1, 'Caroline': 6, 'Vladimir': 3, 'Kriti': 1, 'Pei-Jen': 1, 'Natasha': 1, 'Xing-Xing': 1, 'Bihai': 1, 'Shengjing': 1, 'Zheng': 1, 'Hideyasu': 1, 'Xingfeng': 1, 'Carlos': 5, 'Daniele': 1, 'Nadja': 2, 'Kimberley': 2, 'Brent': 1, 'Maggi': 1, 'Gilbert': 1, 'Szymon': 1, 'Janne': 8, 'Victor': 1, 'Claudia': 6, 'Rahel': 1, 'Marius': 1, 'Li': 1, 'Judit': 1, 'Merel': 1, 'Nadejda': 1, 'Marko': 1, 'Orr': 1, 'Tanja': 7, 'Anke': 1, 'Eleanore': 1, 'Martina': 3, 'Laurie': 1, 'Laerke': 1, 'Dejan': 1, 'Jakub': 2, 'Robby': 1, 'Arlin': 1, 'Rivka': 1, 'Kerry': 2, 'Katharine': 3, 'Coleen': 1, 'Jeet': 1, 'Jae': 1, 'Petra': 1, 'Xuehui': 1, 'Xiao-Qin': 1, 'Yan': 2, 'Way': 1, 'Gergely': 1, 'Yuuya': 1, 'Shun': 1, 'Ge': 1, 'Xiaoyun': 1, 'Kohtaro': 1, 'Min': 1, 'Leiling': 1, 'Gareth': 1, 'Caz': 1, 'Olle': 1, 'Mridul': 1, 'Jan-Erik': 1, 'Wilfried': 2, 'Uffe': 1, 'Qiuying': 1, 'Petter': 1, 'Reid': 1, 'Derek': 7, 'Thu-Hien': 1, 'Cornelia': 1, 'Maude': 1, 'Calandra': 1, 'Julian': 1, 'Janeene': 1, 'Giedrius': 1, 'Kostas': 1, 'Arti': 1, 'Jolyon': 1, 'Nidia': 1, 'Mao-Ning': 1, 'Strahan': 1, 'Murat': 1, 'Nash': 1, 'Blaise': 1, 'Akane': 2, 'Ikram': 2, 'Junji': 1, 'Hunter': 1, 'Hiromi': 2, 'Maitreyi': 1, 'Daisuke': 1, 'Shunsuke': 1, 'Josef': 2, 'Fernanda': 1, 'Panu': 1, 'Audrey': 1, 'Fons': 1, 'Masha': 1, 'Menno': 1, 'Bram': 2, 'Robin': 1, 'Javier': 1, 'Michalis': 1, 'Rita': 1, 'Michiel': 1, 'Michel': 1, 'Mayra': 1, 'Elin': 1, 'Ghislain': 1, 'Marcos': 1, 'Vasco': 1, 'Roshan': 1, 'Montserrat': 5, 'Yngvild': 2, 'Vernon': 1, 'Jeferson': 1, 'Kristofor': 1, 'Manja': 1, 'Cameron': 1, 'Rui-Wu': 1, 'Shaopeng': 1, 'Xugao': 1, 'Xuhui': 1, 'Yafeng': 1, 'Yanping': 1, 'Zhengfei': 1, 'Nickolas': 1, 'Safaa': 1, 'Yuuki': 1, 'Bettina': 1, 'Mitch': 1, 'Yulong': 1, 'Lucy': 1, 'Miranda': 1, 'Ingmar': 1, 'Hal': 1, 'Camilla': 1, 'Phil': 1, 'Howard': 4, 'Kirk': 4, 'Corlett': 1, 'Zachary': 1, 'Rosie': 1, 'Carrie': 1, 'Alexandra': 1, 'April': 1, 'Guangxi': 1, 'Junjie': 1, 'XianMing': 1, 'Xinwei': 1, 'Yaning': 1, 'Xinqiang': 1, 'Rui': 1, 'Zhi-Chao': 1, 'Xiao': 1, 'Ying': 1, 'Ting': 1, 'Ke': 1, 'Yaowu': 1, 'Chi': 3, 'Jinrui': 1, 'Lingyang': 1, 'Sen': 1, 'Wubing': 1, 'Ximing': 1, 'Zhuwen': 1, 'Chuan': 1, 'Zhengbing': 1, 'Hsin-Chou': 1, 'Jian-Rong': 1, 'Qi-En': 1, 'Wei': 1, 'Xuejun': 1, 'Xin-Zhuang': 1, 'Zhenzhen': 1, 'Varvara': 1, 'Kara': 1, 'Tian-Ying': 1, 'Yao': 1, 'Zhen': 1, 'Zhi-Yong': 1, 'Seongsik': 1, 'Musinu': 1, 'Veronica': 1, 'Marketa': 2, 'Libor': 1, 'Baocheng': 1, 'Biyao': 1, 'He': 2, 'Jiao-Lin': 1, 'Quan-Guo': 1, 'Shuang': 1, 'Shuxiao': 1, 'Weidong': 1, 'Yu': 2, 'Ning': 1, 'Xiao-Nan': 1, 'Xiaqing': 1, 'Chaozhi': 1, 'Xiaoming': 1, 'Yangquanwei': 1, 'Xiaolu': 1, 'Limei': 1, 'Qiuan': 1, 'Tianqi': 1, 'Xuli': 1, 'Zhengting': 1, 'Debra': 1, 'Yazmin': 1, 'Alain': 1, 'Holger': 5, 'Naruya': 4, 'Jean-Michel': 10, 'Liliane': 2, 'Kaveh': 3, 'Leon': 3, 'Eoin': 5, 'Eleftheria': 2, 'Blaine': 4, 'Ted': 3, 'Sergei': 8, 'Hafiz': 2, 'Lidia': 1, 'Alberto': 4, 'Marie-Josee': 2, 'Luca': 13, 'Atle': 2, 'Tiffani': 3, 'Aimee': 7, 'Fanie': 3, 'Jianzhi': 10, 'Gerhard': 4, 'Lorena': 3, 'Xun': 4, 'Brenda': 7, 'Christer': 4, 'Gordon': 10, 'Mikko': 2, 'Martijn': 2, 'Carolyn': 9, 'Hans': 10, 'Olivier': 12, 'lotte': 2, 'Allen': 8, 'DeHua': 3, 'Benoit': 5, 'Lorraine': 1, 'Francois': 1, 'Gunter': 5, 'Rolf': 2, 'Claude': 5, 'Gang': 1, 'Jeannine': 6, 'Norm': 6, 'Hideki': 6, 'Shai': 6, 'Stan': 3, 'John-Arvid': 3, 'Giulio': 1, 'Will': 7, 'Roberta': 3, 'Torben': 1, 'Madan': 3, 'Connie': 6, 'Franck': 3, 'Yikang': 2, 'Salit': 3, 'Judith': 1, 'Ryan': 17, 'Koichiro': 6, 'Shizhong': 1, 'Elsa': 3, 'Norman': 2, 'Shurong': 2, 'Punidan': 4, 'Cedrid': 1, 'Sergio': 9, 'Antoine': 8, 'Xin-Yun': 1, 'Sudha': 1, 'Gitta': 1, 'Ortrun': 1, 'Xiaofeng': 4, 'Claus': 4, 'Jana': 8, 'Satu': 3, 'Rien': 4, 'Nils-Goran': 3, 'Hong': 1, 'Stewart': 9, 'william': 1, 'Jerome': 3, 'Matt': 6, 'Tamara ': 1, 'Heiko': 3, 'Katja': 5, 'Minus': 3, 'Sasha': 3, 'Stephane': 4, 'Ivette': 2, 'Diamaid': 3, 'Ignasi': 5, 'Karl': 13, 'Csaba': 8, 'Serita': 7, 'Birgit': 1, 'Sheena': 3, 'Niklaus': 6, 'Arndt': 9, 'Tetsuji': 1, 'Gavin': 4, 'Ulrich': 1, 'Colleen': 1, 'Thom': 2, 'Sharon': 2, 'Randall': 3, 'Kathleen': 4, 'Ferenc': 2, 'Leighton': 2, 'Randy': 1, 'Nigel': 6, 'Lewi': 3, 'Gabriele': 3, 'Harmit': 1, 'Katrin': 5, 'Tricia': 2, 'Bas': 1, 'Gabrielle': 2, 'Marisa': 2, 'Akiko': 2, 'Fabien': 2, 'Hamit': 1, 'Truman': 1, 'M': 6, 'Helmut': 5, 'Jean-Jacques': 1, 'Bernd': 3, 'Shinicki': 3, 'Bill': 3, 'Micky': 7, 'Spencer': 3, 'Sohini': 2, 'Arpat': 1, 'Valter': 1, 'Tadashi': 1, 'Jose Maria': 4, 'Xuernei': 2, 'Subhash': 3, 'Rudolf': 1, 'Bridgett': 1, 'Gabriela': 5, 'Vojtech': 2, 'Gerlinde': 5, 'Keith': 1, 'Matthias': 5, 'Bing': 4, 'Dieter': 1, 'Etienne': 1, 'Christiaan': 6, 'Wendy': 1, 'Dave': 2, 'Luc': 1, 'Robb': 6, 'Liesje': 4, 'Tony': 2, 'Naoko': 3, 'Jue': 1, 'Ernesto': 1, 'Achim': 1, 'Burt': 2, 'Dmitri': 1, 'Darren': 3, 'Nadia': 1, 'Fangliang': 2, 'Geraldine': 1, 'Yoko': 3, 'Todd': 4, 'Perry': 2, 'Willie': 5, 'Murray': 1, 'Marie-Jose': 2, 'Austin': 3, 'Janneke Hille': 2, 'Marm': 3, 'Melinda': 1, 'Shahragim': 1, 'Huilin': 1, 'Cedric': 1, 'Aoife': 1, 'Marci': 1, 'Neal': 3, 'Guarino': 1, 'Jouni': 1, 'Yuseob': 4, 'Norbert': 1, 'AD': 1, 'Orlando': 1, 'Gary': 5, 'Sissel': 1, 'Abraham': 1, 'Leo': 1, 'Lise': 2, 'Jeffery': 1, 'Nancy': 1, 'Manolo': 2, 'Eelke': 1, 'Hillary': 1, 'Mike': 1, 'Carlo': 1, 'Daven': 1, 'Volker': 1, 'Jef': 1, 'Ron': 1, 'Ran': 1, 'Katriona': 1, 'Kavita': 1, 'Lingli': 1, 'Steve': 1, 'Mikkel': 1, 'Dali': 1, 'Francis-Andre': 1, 'Henri': 1, 'Margaret': 1, 'Nora': 1}

In [34]:
# Store current results to the file
# import json
# with open('data.json', 'w') as outfile:
#     json.dump(hashmap, outfile)

In [36]:
# Get results from file. Fix some names were not loaded because of requests limit reached
with open('data.json') as f:
    hashmap = json.load(f)

In [50]:
io27 = 0
for key in hashmap.keys():
    if hashmap[key] == '{"error":"Request limit reached"}':
        hashmap[key] = requests.get(url='https://api.genderize.io/?name=' + key.lower()).content
        io27 += 1
        print(io27)
        print(key)

In [60]:
with open('data_final.json') as f:
    hashmap = json.load(f)

In [65]:
data['author_gender'] = pd.Series(np.random.randn(len(data)), index=data.index)
data['editor_gender'] = pd.Series(np.random.randn(len(data)), index=data.index)
data.head(5)

,Unnamed: 0,title,type,author_first_name,author_last_name,editor_first_name,editor_last_name,author_institution,editor_institution,author_gender,editor_gender
1,2,The relative importance of trait vs. genetic d...,ECOLOGY,Jessica,hoareau,Jonathan,Grabowski,University of California Davis,Northeastern University,-0.090737,-0.072297
2,3,Test of biotic and abiotic correlates of latit...,JOURNAL OF ECOLOGY,Luis,morard,Jennifer,Lau,Universidad Autonoma de Yucatan,Michigan State University,-1.294677,-1.585269
3,4,Multi-trophic consequences of plant genetic va...,ECOLOGY,Luis,soul,James,Cronin,Universidad Autonoma de Yucatan,Louisiana State University,-0.648089,0.220762
4,5,Parameterisation and validation of a resource ...,ECOLOGY LETTERS,Tomoyuki,farrell,Liza,Comita,NaN,Yale University,0.425052,-0.728908
5,6,An Efficient Independence Sampler for Updating...,SYSTEMATIC BIOLOGY,Andre,grogan,Peter,Foster,Heidelberg University,University of Edinburgh,-1.851933,-0.065474

In [93]:
for index, row in data.iterrows():
    for col_name, col_gender in [['editor_first_name', 'editor_gender'], ['author_first_name', 'author_gender']]:
        if row[col_name] in hashmap:
            curr_item = json.loads(hashmap[row[col_name]])

            if curr_item["gender"] == None:
                data[col_gender][index] = -1
            else: 
                p = curr_item["probability"]
                c = curr_item["count"]
                new_prob = (p*c + 2) / (p + 4)
                if new_prob > 0.85:
                    data[col_gender][index] = curr_item["gender"]
                else: data[col_gender][index] = -1
        else:
            print('Error. No name in hashmap')
            print(row)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Error. No name in hashmap
Unnamed: 0                                                           32
title                 Social living mitigates the costs of a chronic...
type                                                    ECOLOGY LETTERS
author_first_name                                                    E.
author_last_name                                                  heard
editor_first_name                                                 Marco
editor_last_name                                         Festa-Bianchet
author_institution                                           Penn State
editor_institution                             University of Sherbrooke
author_gender                                                 -0.147273
editor_gender                                                      male
Name: 31, dtype: object

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

Error. No name in hashmap
Unnamed: 0                                                           73
title                 Disentangling the biogeography of ship biofoul...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    G.
author_last_name                                                peoples
editor_first_name                                           Marie-Josee
editor_last_name                                                 Fortin
author_institution                                                  NaN
editor_institution                                University of Toronto
author_gender                                                -0.0477614
editor_gender                                                    female
Name: 72, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          112
title                 fuzzySim: applying fuzzy logic to binary simil...
type                                   METHODS IN ECOLOGY AND EVOLUTION
author_first_name                                                    A.
author_last_name                                               thompson
editor_first_name                                                Robert
editor_last_name                                                 O'Hara
author_institution                                                  NaN
editor_institution                              Biodiversitat und Klima
author_gender                                                  0.578732
editor_gender                                                      male
Name: 111, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          118
title                 Biotic interactions mediate patterns of herbiv...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    I.
author_last_name                                               pardikes
editor_first_name                                                 Brody
editor_last_name                                                 Sandel
author_institution                                University of Iceland
editor_institution                               Santa Clara University
author_gender                                                   1.51635
editor_gender                                                      male
Name: 117, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          124
title                 Drought tolerance as a driver of tropical fore...
type                                                            ECOLOGY
author_first_name                                                    M.
author_last_name                                                 feller
editor_first_name                                                Gordon
editor_last_name                                                    Fox
author_institution                          Chinese Academy of Sciences
editor_institution                          University of South Florida
author_gender                                                  0.017257
editor_gender                                                      male
Name: 123, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          136
title                 Cophylogeny Reconstruction via an Approximate ...
type                                                 SYSTEMATIC BIOLOGY
author_first_name                                                    C.
author_last_name                                             troscianko
editor_first_name                                               Michael
editor_last_name                                             Charleston
author_institution                                                  NaN
editor_institution                               University of Tasmania
author_gender                                                 -0.460241
editor_gender                                                      male
Name: 135, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          227
title                 Spring temperatures influence selection on bre...
type                                                            ECOLOGY
author_first_name                                                    E.
author_last_name                                               veldhuis
editor_first_name                                                  John
editor_last_name                                                  Sauer
author_institution                            Illinois State University
editor_institution               USGS Patuxent Wildlife Research Center
author_gender                                                 -0.746821
editor_gender                                                      male
Name: 226, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          228
title                 Persistent sex-by-environment effects on offsp...
type                                          JOURNAL OF ANIMAL ECOLOGY
author_first_name                                                    E.
author_last_name                                                 vieira
editor_first_name                                                 Simon
editor_last_name                                               Griffith
author_institution                            Illinois State University
editor_institution                                 Macquarie University
author_gender                                                   2.30832
editor_gender                                                      male
Name: 227, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          296
title                 To die or not to die: early warnings of tree d...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    J.
author_last_name                                                derelle
editor_first_name                                                 David
editor_last_name                                                 Gibson
author_institution                            ARAID Institute Pirenaico
editor_institution                         Southern Illinois University
author_gender                                                   2.14205
editor_gender                                                      male
Name: 295, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          407
title                 Connecting the Sequence-Space of Bacterial Sig...
type                                    MOLECULAR BIOLOGY AND EVOLUTION
author_first_name                                                    R.
author_last_name                                                 teller
editor_first_name                                                 Claus
editor_last_name                                                  Wilke
author_institution                                      Rice University
editor_institution                                  University of Texas
author_gender                                                 -0.399812
editor_gender                                                      male
Name: 406, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          426
title                 Fungal symbionts maintain a rare plant populat...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    Y.
author_last_name                                                hoelker
editor_first_name                                                Marcel
editor_last_name                                          VanDerHeijden
author_institution                             University of New Mexico
editor_institution        Agroscope Reckenholz-Tanikon Research Station
author_gender                                                0.00224814
editor_gender                                                      male
Name: 425, dtype: object

Error. No name in hashmap
Unnamed: 0                                                          475
title                 Effects of ocean acidification on Posidonia oc...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    T.
author_last_name                                        razafindratsima
editor_first_name                                                 Brian
editor_last_name                                               Silliman
author_institution                                  Universite Paris 06
editor_institution                                      Duke University
author_gender                                                 -0.615712
editor_gender                                                      male
Name: 474, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          487
title                 Energetic costs of mange in wolves estimated f...
type                                                            ECOLOGY
author_first_name                                                    P.
author_last_name                                                 pintor
editor_first_name                                                 Heiko
editor_last_name                                                Wittmer
author_institution          USGS Northern Rocky Mountain Science Center
editor_institution                    Victoria University of Wellington
author_gender                                                 -0.343885
editor_gender                                                      male
Name: 486, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          517
title                 Deconstructing the relationships between phylo...
type                                                            ECOLOGY
author_first_name                                                    T.
author_last_name                                                 finger
editor_first_name                                              Jeannine
editor_last_name                                         Cavender-Bares
author_institution                                    McGill University
editor_institution                              University of Minnesota
author_gender                                                   2.02591
editor_gender                                                    female
Name: 516, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          541
title                 Remotely sensed temperature and precipitation ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    V.
author_last_name                                                 knauer
editor_first_name                                                 David
editor_last_name                                                 Currie
author_institution                                                  NaN
editor_institution                                 University of Ottawa
author_gender                                                   -1.2261
editor_gender                                                      male
Name: 540, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          542
title                 Toward Synthesizing Our Knowledge of Morpholog...
type                                                 SYSTEMATIC BIOLOGY
author_first_name                                                    T.
author_last_name                                               sletvold
editor_first_name                                                Thomas
editor_last_name                                                   Near
author_institution                           University of South Dakota
editor_institution                                      Yale University
author_gender                                                  0.027306
editor_gender                                                      male
Name: 541, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          568
title                 Reassessing global change research priorities ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    E.
author_last_name                                                  lange
editor_first_name                                                Martin
editor_last_name                                                  Sykes
author_institution                   Autonomous University of Barcelona
editor_institution                                      Lund University
author_gender                                                  -1.84041
editor_gender                                                      male
Name: 567, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          573
title                 Following the Footsteps of Chlamydial Gene Reg...
type                                    MOLECULAR BIOLOGY AND EVOLUTION
author_first_name                                                    D.
author_last_name                                       bachmann-gagescu
editor_first_name                                                 James
editor_last_name                                              McInerney
author_institution                                 University of Vienna
editor_institution                                  Maynooth University
author_gender                                                  -1.35321
editor_gender                                                      male
Name: 572, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          587
title                 Propagule pressure in the presence of uncertai...
type                                   METHODS IN ECOLOGY AND EVOLUTION
author_first_name                                                    D.
author_last_name                                              silvestro
editor_first_name                                                Andrew
editor_last_name                                                  Tatem
author_institution                    University of Toronto Scarborough
editor_institution                            University of Southampton
author_gender                                                  0.486662
editor_gender                                                      male
Name: 586, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          601
title                 Biodiversity mediates top-down control in eelg...
type                                                    ECOLOGY LETTERS
author_first_name                                                    J.
author_last_name                                                 dooley
editor_first_name                                                 Boris
editor_last_name                                                   Worm
author_institution                 Virginia Institute of Marine Science
editor_institution                                 Dalhousie University
author_gender                                                  0.405539
editor_gender                                                      male
Name: 600, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          625
title                 Spatial overlap in a solitary carnivore: suppo...
type                                          JOURNAL OF ANIMAL ECOLOGY
author_first_name                                                    L.
author_last_name                                               mcdonald
editor_first_name                                                  Anne
editor_last_name                                                 Loison
author_institution                                             Panthera
editor_institution                                 Universite de Savoie
author_gender                                                -0.0107257
editor_gender                                                    female
Name: 624, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          628
title                 Using multiple imputation to estimate missing ...
type                                   METHODS IN ECOLOGY AND EVOLUTION
author_first_name                                                    E.
author_last_name                                               anderson
editor_first_name                                                Jarrod
editor_last_name                                               Hadfield
author_institution                                     Trent University
editor_institution                              University of Edinburgh
author_gender                                                   1.53451
editor_gender                                                      male
Name: 627, dtype: object

Error. No name in hashmap
Unnamed: 0                                                          638
title                 Eutrophication triggers contrasting multilevel...
type                                                            ECOLOGY
author_first_name                                                    W.
author_last_name                                                bennett
editor_first_name                                                Joseph
editor_last_name                                                 Yavitt
author_institution                                University of Antwerp
editor_institution                                   Cornell University
author_gender                                                   -1.0891
editor_gender                                                      male
Name: 637, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          648
title                 Fire evolution in the radioactive forests of U...
type                                              ECOLOGICAL MONOGRAPHS
author_first_name                                                    N.
author_last_name                                                gorsich
editor_first_name                                                 Aimee
editor_last_name                                                Classen
author_institution                     Institute Pierre & Simon Laplace
editor_institution                              University of Tennessee
author_gender                                                  0.186793
editor_gender                                                    female
Name: 647, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          710
title                 Locally adapted traits maintained in the face ...
type                                                    ECOLOGY LETTERS
author_first_name                                                    S.
author_last_name                                                  tabak
editor_first_name                                                  Jane
editor_last_name                                                   Hill
author_institution                            Colorado State University
editor_institution                                   University of York
author_gender                                                   1.48694
editor_gender                                                    female
Name: 709, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          713
title                 Estimating where and how animals travel: an op...
type                                                            ECOLOGY
author_first_name                                                    C.
author_last_name                                                 sunday
editor_first_name                                              Nicholas
editor_last_name                                                Gotelli
author_institution                 National Zoological Park Front Royal
editor_institution                                University of Vermont
author_gender                                                   1.50637
editor_gender                                                      male
Name: 712, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          714
title                 Unravelling the annual cycle in a migratory an...
type                                          JOURNAL OF ANIMAL ECOLOGY
author_first_name                                                    D.
author_last_name                                             pellegrini
editor_first_name                                                   Tim
editor_last_name                                                Coulson
author_institution                                 University of Guelph
editor_institution                                 University of Oxford
author_gender                                                   1.50428
editor_gender                                                      male
Name: 713, dtype: object
Error. No name in hashmap
Unnamed: 0                                            718
title                 The Phylogenetic Likelihood Library
type                                   SYSTEMATIC BIOLOGY
author_first_name                                      T.
author_last_name                                 catarino
editor_first_name                                   Peter
editor_last_name                                   Foster
author_institution                  Heidelberg University
editor_institution                University of Edinburgh
author_gender                                   -0.655767
editor_gender                                        male
Name: 717, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          725
title                 Quantifying diet breadth through ordination of...
type                                                            ECOLOGY
author_first_name                                                    J.
author_last_name                                               videvall
editor_first_name                                                Helene
editor_last_name                                                 Wagner
author_institution                              University of Tennessee
editor_institution                                University of Toronto
author_gender                                                 -0.854039
editor_gender                                                    female
Name: 724, dtype: object
Error. No name in hashmap
Unnamed: 0                                                        832
title                 The Root of Flowering Plants and Total Evidence
type                                               SYSTEMATIC BIOLOGY
author_first_name                                                  V.
author_last_name                                                 chao
editor_first_name                                              Edward
editor_last_name                                                Susko
author_institution                                                NaN
editor_institution                               Dalhousie University
author_gender                                                0.407765
editor_gender                                                    male
Name: 831, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          892
title                 Cohort variation in individual body mass dissi...
type                                              ECOLOGICAL MONOGRAPHS
author_first_name                                                    S.
author_last_name                                            van wijlick
editor_first_name                                                 Arpat
editor_last_name                                                  Ozgul
author_institution                                 University of Tromso
editor_institution                                 University of Zurich
author_gender                                                  -1.49524
editor_gender                                                  0.685374
Name: 891, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          926
title                 Seasonality and nitrogen supply modify carbon ...
type                                                            ECOLOGY
author_first_name                                                    N.
author_last_name                                                  plard
editor_first_name                                                Joseph
editor_last_name                                                 Yavitt
author_institution          Swedish University of Agricultural Sciences
editor_institution                                   Cornell University
author_gender                                                  -1.47548
editor_gender                                                      male
Name: 925, dtype: object

Error. No name in hashmap
Unnamed: 0                                                          940
title                 Invaders do not require high resource levels t...
type                                                            ECOLOGY
author_first_name                                                    J.
author_last_name                                                 janzen
editor_first_name                                                Daniel
editor_last_name                                               Laughlin
author_institution                                  Syracuse University
editor_institution                                University of Waikato
author_gender                                                 -0.554377
editor_gender                                                      male
Name: 939, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          942
title                 Tree of Life Reveals Clock-Like Speciation and...
type                                    MOLECULAR BIOLOGY AND EVOLUTION
author_first_name                                                    S.
author_last_name                                              schneider
editor_first_name                                                  Emma
editor_last_name                                                Teeling
author_institution                                    Temple University
editor_institution                            University College Dublin
author_gender                                                   3.01706
editor_gender                                                    female
Name: 941, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          943
title                 The influence of climate on avian nest constru...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    C.
author_last_name                                          zambrano-vega
editor_first_name                                                Katrin
editor_last_name                                          Bohning-Gaese
author_institution                               University of Adelaide
editor_institution    Senckenberg Biodiversity and Climate Research ...
author_gender                                                  0.720357
editor_gender                                                    female
Name: 942, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          957
title                 Link flexibility: evidence for environment-dep...
type                                                            ECOLOGY
author_first_name                                                    D.
author_last_name                                                 joseph
editor_first_name                                               William
editor_last_name                                                 Snyder
author_institution                                   University of Hull
editor_institution                          Washington State University
author_gender                                                  -1.56718
editor_gender                                                      male
Name: 956, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          975
title                 An allometric approach to quantify the extinct...
type                                                            ECOLOGY
author_first_name                                                    J.
author_last_name                                                   roll
editor_first_name                                                Donald
editor_last_name                                                 Strong
author_institution                                   Radboud University
editor_institution                       University of California Davis
author_gender                                                   1.10856
editor_gender                                                      male
Name: 974, dtype: object
Error. No name in hashmap
Unnamed: 0                                                          982
title                 State-space modeling to support management of ...
type                                              ECOLOGICAL MONOGRAPHS
author_first_name                                                    N.
author_last_name                                               bartlett
editor_first_name                                                 Aaron
editor_last_name                                                Ellison
author_institution                            Colorado State University
editor_institution                                       Harvard Forest
author_gender                                                  0.404893
editor_gender                                                      male
Name: 981, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1004
title                 A guide to Bayesian model selection for ecolog...
type                                              ECOLOGICAL MONOGRAPHS
author_first_name                                                    M.
author_last_name                                                   choi
editor_first_name                                                 Aaron
editor_last_name                                                Ellison
author_institution                            Colorado State University
editor_institution                                       Harvard Forest
author_gender                                                 -0.148294
editor_gender                                                      male
Name: 1003, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1010
title                 Unravelling the relative roles of top-down and...
type                                                            ECOLOGY
author_first_name                                                    C.
author_last_name                                                  keagy
editor_first_name                                                  John
editor_last_name                                                Arnould
author_institution                   British Antarctic Survey Cambridge
editor_institution                                    Deakin University
author_gender                                                 -0.602837
editor_gender                                                      male
Name: 1009, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1055
title                 Assessing European ecosystem stability to drou...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    E.
author_last_name                                                     yu
editor_first_name                                                  Nick
editor_last_name                                                  Isaac
author_institution                                                  NaN
editor_institution                     Centre for Ecology and Hydrology
author_gender                                                 -0.166883
editor_gender                                                      male
Name: 1054, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1069
title                 Fitness reduction for uncooperative fig wasps ...
type                                                            ECOLOGY
author_first_name                                                    K.
author_last_name                                                simpson
editor_first_name                                                 David
editor_last_name                                                 Holway
author_institution                                   Harvard University
editor_institution                   University of California San Diego
author_gender                                                  0.810329
editor_gender                                                      male
Name: 1068, dtype: object

Error. No name in hashmap
Unnamed: 0                                                         1081
title                 Climate tolerances and trait choices shape con...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    G.
author_last_name                                zechmeister-boltenstern
editor_first_name                                                  Karl
editor_last_name                                                  Evans
author_institution                   University of California Riverside
editor_institution                              University of Sheffield
author_gender                                                  0.515589
editor_gender                                                      male
Name: 1080, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1088
title                 Relatively stable response of fruiting stage t...
type                                                            ECOLOGY
author_first_name                                                    L.
author_last_name                                                veyrier
editor_first_name                                                Daniel
editor_last_name                                               Metcalfe
author_institution                          Chinese Academy of Sciences
editor_institution          Swedish University of Agricultural Sciences
author_gender                                                  -1.29777
editor_gender                                                      male
Name: 1087, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1093
title                 Genetic diversity affects the strength of popu...
type                                                            ECOLOGY
author_first_name                                                    D.
author_last_name                                                  brown
editor_first_name                                               Lorenzo
editor_last_name                                              Ciannelli
author_institution               California state University Long Beach
editor_institution                              Oregon State University
author_gender                                                 -0.366294
editor_gender                                                      male
Name: 1092, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1169
title                 Productivity and species richness in longleaf ...
type                                                            ECOLOGY
author_first_name                                                    L.
author_last_name                                                 farrer
editor_first_name                                               Anthony
editor_last_name                                                D'Amato
author_institution            Joseph W Jones Ecological Research Center
editor_institution                                University of Vermont
author_gender                                                 -0.663339
editor_gender                                                      male
Name: 1168, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1180
title                 Bees use honest floral signals as indicators o...
type                                                    ECOLOGY LETTERS
author_first_name                                                    A.
author_last_name                                              capellini
editor_first_name                                               Rebecca
editor_last_name                                                  Irwin
author_institution                                 University of Zurich
editor_institution                                    Dartmouth College
author_gender                                                   0.62414
editor_gender                                                    female
Name: 1179, dtype: object
Error. No name in hashmap
Unnamed: 0                                                        1218
title                 Global aerial flyways allow efficient travelling
type                                                   ECOLOGY LETTERS
author_first_name                                                   B.
author_last_name                                               moeller
editor_first_name                                                 Ryan
editor_last_name                                                Norris
author_institution                 Max Planck Institute of Ornithology
editor_institution                                University of Guelph
author_gender                                                 -1.58285
editor_gender                                                     male
Name: 1217, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1370
title                 Changes in plant, soil, and microbes in a typi...
type                                              ECOLOGICAL MONOGRAPHS
author_first_name                                                    N.
author_last_name                                               esquerre
editor_first_name                                                 Aimee
editor_last_name                                                Classen
author_institution                            University of Agriculture
editor_institution                              University of Tennessee
author_gender                                                  0.387679
editor_gender                                                    female
Name: 1369, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1384
title                 The siren song of a sticky plant: Columbines p...
type                                                            ECOLOGY
author_first_name                                                    E.
author_last_name                                                chapman
editor_first_name                                                 Brian
editor_last_name                                                 Inouye
author_institution                       University of California Davis
editor_institution                             Florida State University
author_gender                                                  0.952688
editor_gender                                                      male
Name: 1383, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1442
title                 Sport science for salmon and other species: ec...
type                                                    ECOLOGY LETTERS
author_first_name                                                    B.
author_last_name                                                 yeager
editor_first_name                                                 Mikko
editor_last_name                                                  Heino
author_institution               University of California Santa Barbara
editor_institution                                 University of Bergen
author_gender                                                   1.43323
editor_gender                                                      male
Name: 1441, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1480
title                 Geographic extent and variation of a coral ree...
type                                                            ECOLOGY
author_first_name                                                    T.
author_last_name                                               matthias
editor_first_name                                                Steven
editor_last_name                                                 Morgan
author_institution                        Wildlife Conservation Society
editor_institution                             Bodega Marine Laboratory
author_gender                                                  0.980918
editor_gender                                                      male
Name: 1479, dtype: object

Error. No name in hashmap
Unnamed: 0                                                         1491
title                 Exploring the spatially explicit predictions o...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    D.
author_last_name                                               hardesty
editor_first_name                                                  Jose
editor_last_name                                            Diniz-Filho
author_institution                                College of Charleston
editor_institution                        Universidade Federal de Goias
author_gender                                                   1.14915
editor_gender                                                      male
Name: 1490, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1528
title                 Avoiding the crowds: the evolution of plastic ...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    C.
author_last_name                                               mariotti
editor_first_name                                               Roberto
editor_last_name                                         Salguero-Gomez
author_institution                                 Princeton University
editor_institution                              University of Sheffield
author_gender                                                   1.01071
editor_gender                                                      male
Name: 1527, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1529
title                 Statistical modelling of annual variation for ...
type                                   METHODS IN ECOLOGY AND EVOLUTION
author_first_name                                                    C.
author_last_name                                                  menke
editor_first_name                                                  Satu
editor_last_name                                                 Ramula
author_institution                                 Princeton University
editor_institution                                  University of Turku
author_gender                                                  -2.32375
editor_gender                                                    female
Name: 1528, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1530
title                 Opportunities and challenges of Integral Proje...
type                                          JOURNAL OF ANIMAL ECOLOGY
author_first_name                                                    C.
author_last_name                                                 moreno
editor_first_name                                               Roberto
editor_last_name                                         Salguero-Gomez
author_institution                                 Princeton University
editor_institution                              University of Sheffield
author_gender                                                   -1.4235
editor_gender                                                      male
Name: 1529, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1581
title                 Impacts of warming and elevated CO2 on a semi-...
type                                                    ECOLOGY LETTERS
author_first_name                                                    K.
author_last_name                                               spiesman
editor_first_name                                                 Josep
editor_last_name                                               Penuelas
author_institution                                ARS USDA Fort Collins
editor_institution                 CREAF Universitat Autonoma Barcelona
author_gender                                                   1.26088
editor_gender                                                      male
Name: 1580, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1617
title                 Adult and offspring size in the ocean over 17 ...
type                                                            ECOLOGY
author_first_name                                                    A.
author_last_name                                                wilberg
editor_first_name                                                Steven
editor_last_name                                                 Morgan
author_institution                  Technological University of Denmark
editor_institution                             Bodega Marine Laboratory
author_gender                                                    0.6287
editor_gender                                                      male
Name: 1616, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1631
title                 Seed-dispersal networks on the Canaries and th...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    M.
author_last_name                                                thorson
editor_first_name                                               Richard
editor_last_name                                                  Field
author_institution                                                  NaN
editor_institution                             University of Nottingham
author_gender                                                   0.96193
editor_gender                                                      male
Name: 1630, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1639
title                 Infection risk decreases with increasing misma...
type                                                    ECOLOGY LETTERS
author_first_name                                                    A.
author_last_name                                                 redhai
editor_first_name                                               Richard
editor_last_name                                                Ostfeld
author_institution                       University of California Davis
editor_institution                  Cary Institute of Ecosystem Studies
author_gender                                                 -0.765832
editor_gender                                                      male
Name: 1638, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1687
title                 Globally, functional traits are weak predictor...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    C.
author_last_name                                                   volf
editor_first_name                                                 David
editor_last_name                                                 Gibson
author_institution                               University of Stirling
editor_institution                         Southern Illinois University
author_gender                                                 -0.810293
editor_gender                                                      male
Name: 1686, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1695
title                 From Integrative Taxonomy to Species Descripti...
type                                                 SYSTEMATIC BIOLOGY
author_first_name                                                    E.
author_last_name                                                   fang
editor_first_name                                                 Bryan
editor_last_name                                               Carstens
author_institution                               University La Rochelle
editor_institution                                Ohio State University
author_gender                                                   1.94978
editor_gender                                                      male
Name: 1694, dtype: object

Error. No name in hashmap
Unnamed: 0                                                         1707
title                 Suppression of savanna ants alters invertebrat...
type                                                            ECOLOGY
author_first_name                                                    C.
author_last_name                                               cardillo
editor_first_name                                                Nathan
editor_last_name                                                Sanders
author_institution                              University of Liverpool
editor_institution                              University of Tennessee
author_gender                                                  0.292642
editor_gender                                                      male
Name: 1706, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1754
title                 Variation in recruitment and the establishment...
type                                                            ECOLOGY
author_first_name                                                    P.
author_last_name                                                  nater
editor_first_name                                                 Edwin
editor_last_name                                               Grosholz
author_institution                           University of Pennsylvania
editor_institution                       University of California Davis
author_gender                                                -0.0220238
editor_gender                                                      male
Name: 1753, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1786
title                 Diversity enhances carbon storage in tropical ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    L.
author_last_name                                                   ives
editor_first_name                                                Thomas
editor_last_name                                                Hickler
author_institution                                Wageningen University
editor_institution                 Goethe Universitat Frankfurt am Main
author_gender                                                 -0.793309
editor_gender                                                      male
Name: 1785, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1838
title                 Between-taxon matching of common and rare spec...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    C.
author_last_name                                                  hertz
editor_first_name                                                  Gary
editor_last_name                                             Mittelbach
author_institution                           Queen's University Belfast
editor_institution                            Michigan State University
author_gender                                                   1.44148
editor_gender                                                      male
Name: 1837, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1897
title                 Community assembly on isolated islands: macroe...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                               schlicht
editor_first_name                                                Robert
editor_last_name                                               Ricklefs
author_institution                    University of California Berkeley
editor_institution                   University of Missouri Saint Louis
author_gender                                                 -0.149977
editor_gender                                                      male
Name: 1896, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1912
title                 Scaling mangrove aboveground biomass from site...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                                   liow
editor_first_name                                                 David
editor_last_name                                                 Currie
author_institution                    University Federal Santa Catarina
editor_institution                                 University of Ottawa
author_gender                                                   1.80871
editor_gender                                                      male
Name: 1911, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         1931
title                 Bacterial community response to changes in a t...
type                                                            ECOLOGY
author_first_name                                                    J.
author_last_name                                                   liao
editor_first_name                                                 Ellen
editor_last_name                                                vanDonk
author_institution                              University of Jyvaskyla
editor_institution                     Netherlands Institute of Ecology
author_gender                                                 -0.929091
editor_gender                                                    female
Name: 1930, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2004
title                 Metabolic dependence of phytoplankton species ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                                freyman
editor_first_name                                                  Gary
editor_last_name                                             Mittelbach
author_institution                                 University Republica
editor_institution                            Michigan State University
author_gender                                                  0.129088
editor_gender                                                      male
Name: 2003, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2014
title                 Does phylogeographical structure relate to cli...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    M.
author_last_name                                                 dallas
editor_first_name                                                 Linda
editor_last_name                                               Beaumont
author_institution                             University of Valladolid
editor_institution                                 Macquarie University
author_gender                                                 -0.173717
editor_gender                                                    female
Name: 2013, dtype: object
Error. No name in hashmap
Unnamed: 0                                  2019
title                        What Is Speciation?
type                               PLOS GENETICS
author_first_name                             B.
author_last_name                          scarpa
editor_first_name                           Ivan
editor_last_name                           Matic
author_institution           Universite Montreal
editor_institution    University Paris Descartes
author_gender                           0.108665
editor_gender                               male
Name: 2018, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2057
title                 Can people change the ecological rules that ap...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                               landgraf
editor_first_name                                                Jeremy
editor_last_name                                                   Kerr
author_institution                                   Charles University
editor_institution                                 University of Ottawa
author_gender                                                  0.932871
editor_gender                                                      male
Name: 2056, dtype: object

Error. No name in hashmap
Unnamed: 0                                                         2106
title                 Analysis of stable states in global savannas: ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                                 hansen
editor_first_name                                               Niklaus
editor_last_name                                             Zimmermann
author_institution                                      Yale University
editor_institution                     Swiss Federal Research Institute
author_gender                                                  0.324901
editor_gender                                                      male
Name: 2105, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2216
title                 Crop rotational diversity enhances belowground...
type                                                    ECOLOGY LETTERS
author_first_name                                                    L.
author_last_name                                              maldonado
editor_first_name                                                 David
editor_last_name                                                 Hooper
author_institution                          University of New Hampshire
editor_institution                        Western Washington University
author_gender                                                   0.24324
editor_gender                                                      male
Name: 2215, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2247
title                 A framework for integrating thermal biology in...
type                                                    ECOLOGY LETTERS
author_first_name                                                    K.
author_last_name                                                  amrit
editor_first_name                                                  Mary
editor_last_name                                               O'Connor
author_institution                               University of Colorado
editor_institution                       University of British Columbia
author_gender                                                  0.783784
editor_gender                                                    female
Name: 2246, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2250
title                 Evaluating the effects of pollinator-mediated ...
type                                                    ECOLOGY LETTERS
author_first_name                                                    C.
author_last_name                                                     wu
editor_first_name                                            Jose Maria
editor_last_name                                                  Gomez
author_institution                   University of the Balearic Islands
editor_institution                               Universidad De Granada
author_gender                                                  0.334532
editor_gender                                                      male
Name: 2249, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2258
title                 Pan-tropical hinterland forests: mapping minim...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    A.
author_last_name                                               noonburg
editor_first_name                                                Thomas
editor_last_name                                              Gillespie
author_institution                               University of Maryland
editor_institution                                     Emory University
author_gender                                                 -0.296601
editor_gender                                                      male
Name: 2257, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2282
title                 Simulation of the phenological development of ...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    L.
author_last_name                                                 murray
editor_first_name                                                Martin
editor_last_name                                                  Sykes
author_institution                                Wageningen University
editor_institution                                      Lund University
author_gender                                                 -0.487177
editor_gender                                                      male
Name: 2281, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2409
title                 Critical-weight-range marsupials in northern A...
type                                    GLOBAL ECOLOGY AND BIOGEOGRAPHY
author_first_name                                                    J.
author_last_name                                              ten brink
editor_first_name                                                 Erica
editor_last_name                                             Fleischman
author_institution                                                  NaN
editor_institution                       University of California Davis
author_gender                                                 0.0901312
editor_gender                                                    female
Name: 2408, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2422
title                 Interspecific associations in seed arrival and...
type                                                            ECOLOGY
author_first_name                                                    S.
author_last_name                                                  burla
editor_first_name                                                 Peter
editor_last_name                                                  Adler
author_institution                                                  NaN
editor_institution                                Utah State University
author_gender                                                   1.37466
editor_gender                                                      male
Name: 2421, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2429
title                 Effects of spatial plant-soil feedback heterog...
type                                                 JOURNAL OF ECOLOGY
author_first_name                                                    E.
author_last_name                                                  alroy
editor_first_name                                                   Amy
editor_last_name                                                 Austin
author_institution                     Netherlands Institute of Ecology
editor_institution                           University of Buenos Aires
author_gender                                                  0.703213
editor_gender                                                    female
Name: 2428, dtype: object
Error. No name in hashmap
Unnamed: 0                                                         2499
title                 Recombination Rate Variation, Hitchhiking, and...
type                                    MOLECULAR BIOLOGY AND EVOLUTION
author_first_name                                                    M.
author_last_name                                                 jasper
editor_first_name                                               Brandon
editor_last_name                                                   Gaut
author_institution     Virginia Polytechni Institute & State University
editor_institution                      University of California Irvine
author_gender                                                   1.16005
editor_gender                                                      male
Name: 2498, dtype: object

### Data preprocessing

Now let's cleanup and set the probabilities + perform (cp + 4 / p + 2) normalization

In [94]:
data.head()

,Unnamed: 0,title,type,author_first_name,author_last_name,editor_first_name,editor_last_name,author_institution,editor_institution,author_gender,editor_gender
1,2,The relative importance of trait vs. genetic d...,ECOLOGY,Jessica,hoareau,Jonathan,Grabowski,University of California Davis,Northeastern University,female,male
2,3,Test of biotic and abiotic correlates of latit...,JOURNAL OF ECOLOGY,Luis,morard,Jennifer,Lau,Universidad Autonoma de Yucatan,Michigan State University,male,female
3,4,Multi-trophic consequences of plant genetic va...,ECOLOGY,Luis,soul,James,Cronin,Universidad Autonoma de Yucatan,Louisiana State University,male,male
4,5,Parameterisation and validation of a resource ...,ECOLOGY LETTERS,Tomoyuki,farrell,Liza,Comita,NaN,Yale University,-1,female
5,6,An Efficient Independence Sampler for Updating...,SYSTEMATIC BIOLOGY,Andre,grogan,Peter,Foster,Heidelberg University,University of Edinburgh,male,male

In [98]:
print("Ratio of female / male in authors", len(data[data['author_gender'] == "female"]) / len(data[data['author_gender'] == "male"]))

Ratio of female / male in authors 0.62004662004662

In [99]:
print("Ratio of female / male in editors", len(data[data['editor_gender'] == "female"]) / len(data[data['editor_gender'] == "male"]))

Ratio of female / male in editors 0.2918502202643172